<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <include resource="logging/logback-spring-local.xml"/>
        <include resource="logging/discord-appender.xml"/>
    </springProfile>

    <springProfile name="prod">
        <include resource="logging/logback-spring-prod.xml"/>
        <include resource="logging/discord-appender.xml"/>
    </springProfile>
</configuration>
